*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  padding: 0px;
}

.container, .lists {
  margin: 0 auto;
  width: 400px;
}

.fa {
  display: inline-block;
  position: relative;
  left: 345px;
  color: white;
  bottom: 23px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    position: relative;
    bottom: 23px;
    left: 16px;
}

.route {
  height: 250px;
  background-image: url(../map.png);
  background-position: fixed; 
  width: 100%;
}

.top {
  background-image: url(../top.png);
  height: 25px;
  background-size: cover;
}

.content, .content2 {
  background-color: #D9C8B2;
  box-sizing: border-box;
  padding-top: 3%; 
  padding-bottom: 7%;
  border-top: 2px solid gray;
  width: 100%; 
}

.content2 {
    opacity: 0.80;
}

.title {
  background-color: #ADAD85;
  box-sizing: border-box;
}

.content:hover {
  background-color: lightgoldenrodyellow;
}

 ul {
  font-size: 16px;
  font-family: serif; 
  margin: 0; 
  padding: 0;
}

h1 {
  font-size: 23px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
  padding-top: 20px;
}

li {
  font-size: 16px;
  font-family: serif;
  display: inline-block;
  vertical-align: top;  
  float: left; 
  text-align: center; 
  min-width: 33%;
}

li span.label {
    font-weight: bold;  
    font-size: 16px; 
}
